<!-- journal-list.component.html -->
<mat-sidenav-container class="container">
    <mat-sidenav mode="side" opened="true">
        <div class=" logo">
            <!-- Your logo or app name goes here -->
            <a routerLink="/collections">SoulSnap</a>
        </div>
        <ul class="navigation">
            <li routerLink="/collections">
                <a mat-list-item routerLink="" routerLinkActive=" active">Collections</a>
            </li>
            <li>
                <a mat-list-item routerLink="" routerLinkActive="active">About Us</a>
            </li>
            <li>
                <a mat-list-item routerLink="" routerLinkActive="active">Contact Us</a>
            </li>
            <button class="logout" mat-list-item routerLink="" routerLinkActive="active" (click)="logout()">Log
                out</button>
        </ul>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="journal-list">
            <div class="header">
                <mat-icon routerLink="/collections">arrow_back_ios</mat-icon>
                <h2>{{this.title}}</h2>
                <mat-icon (click)="navigateToCreateJournal()">add</mat-icon>
            </div>
            <ul>
                <li *ngFor="let journal of journals" (click)="editJournal(journal.id)">
                    <span>{{ journal.title }}</span>
                    <p>{{ journal.content }}</p>
                    <!-- <p class="date">{{ journal.date | date}}</p> -->
                </li>
            </ul>
            {{ journals.length === 0 ? 'No journals found.' : ''}}
        </div>
    </mat-sidenav-content>

</mat-sidenav-container>