<!-- journal-details.component.html -->
<mat-sidenav-container class="container">
    <mat-sidenav mode="side" opened="true">
        <div class=" logo">
            <!-- Your logo or app name goes here -->
            <a routerLink="/collections">SoulSnap</a>
        </div>
        <ul class="navigation">
            <li>
                <a mat-list-item routerLink="" routerLinkActive="active">Collections</a>
            </li>
            <li>
                <a mat-list-item routerLink="" routerLinkActive="active">About Us</a>
            </li>
            <li>
                <a mat-list-item routerLink="" routerLinkActive="active">Contact Us</a>
            </li>
        </ul>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="journal-details">
            <div *ngIf="journal">
                <h2>{{ journal?.title }}</h2>
                <p class="date">{{ journal?.date }}</p>
                <p>{{ journal?.content }}</p>
                <div class="actions">
                    <button (click)="editJournal()">Edit</button>
                    <button (click)="deleteJournal()">Delete</button>
                </div>
            </div>
            <div *ngIf="!journal">
                <p>Journal entry not found.</p>
            </div>
        </div>
    </mat-sidenav-content>

</mat-sidenav-container>