<mat-sidenav-container class="container">
    <mat-sidenav mode="side" opened="true">
        <div class=" logo">
            <!-- Your logo or app name goes here -->
            <a routerLink="/collections">SoulSnap</a>
        </div>
        <ul class="navigation">
            <li class="collection">
                <a mat-list-item routerLink="" routerLinkActive=" active">Collections</a>
            </li>
            <li routerLink="/about">
                <a mat-list-item routerLinkActive="active">About Us</a>
            </li>
            <!-- <li>
                <a mat-list-item routerLink="" routerLinkActive="active">Contact Us</a>
            </li> -->
            <button class="logout" mat-list-item routerLink="" routerLinkActive="active" (click)="logout()">Log
                out</button>
        </ul>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="collection-list">
            <div class="header">
                <h2>Collections</h2>
                <mat-icon (click)="createCollection()">add</mat-icon>
            </div>
            <div class="loading-indicator" *ngIf="isLoading">
                <mat-spinner [diameter]="50" [strokeWidth]="5" color="accent"></mat-spinner>
            </div>
            <div class="no-content" *ngIf="!isLoading && collections.length === 0">
                No Collections Found
            </div>
            <ul *ngIf="!isLoading">
                <li *ngFor=" let collection of collections" (click)="navigateToCollection(collection)">
                    <span>{{ collection.name }}</span>
                    <p>{{ collection.description }}</p>
                    <div class="actions">
                        <button (click)="editCollecion(collection.id, $event, collection.name)">Edit</button>
                        <button (click)="deleteCollection(collection.id, $event)">Delete</button>
                    </div>
                </li>
            </ul>
        </div>
    </mat-sidenav-content>

</mat-sidenav-container>