<!-- journal-form.component.html -->
<mat-sidenav-container class="container">
    <mat-sidenav mode="side" opened="true">
        <div class=" logo">
            <!-- Your logo or app name goes here -->
            <a routerLink="/collections">SoulSnap</a>
        </div>
        <ul class="navigation">
            <li>
                <a mat-list-item routerLink="" routerLinkActive="active">Collections</a>
            </li>
            <li>
                <a mat-list-item routerLink="" routerLinkActive="active">About Us</a>
            </li>
            <li>
                <a mat-list-item routerLink="" routerLinkActive="active">Contact Us</a>
            </li>
            <button class="logout" mat-list-item routerLink="" routerLinkActive="active" (click)="logout()">Log
                out</button>
        </ul>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="journal-form">
            <h2>{{ isEditing ? journal.title : 'Create New Journal' }}</h2>
            <form (ngSubmit)="onSubmit()">
                <input type="text" placeholder="Your journal's title" id="title" name="title"
                    [(ngModel)]="journal.title" required>

                <textarea id="content" placeholder="Your journal's content" name="content" [(ngModel)]="journal.content"
                    required></textarea>

                <div class="actions">
                    <button type="submit">{{ isEditing ? 'Update Journal' : 'Create Journal' }}</button>
                    <!-- we will add the delete button with icon -->
                    <button *ngIf="isEditing" (click)="deleteJournal()">
                        Delete
                    </button>
                </div>
            </form>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>