/* journal-form.component.scss */

.container{
  height: 100vh;

  .logo {
    text-align: center;
    margin: 40px 20px;
    a {
      text-decoration: none;
      color: white;
      font-size: 1.5rem;
      font-weight: bold;
    }
  }

  mat-sidenav{
    width: 15%;
    .navigation{
      padding: 0;
      list-style-type: none;
      li{
        text-align: center;
        padding: 20px 0;
        cursor: pointer;
        width: 100%;
    
        &:hover {
          background-color: rgba(0,0,20,0.4);
        }
        
        a{
          text-decoration: none;
          color: rgb(255, 255, 255);
          font-size: 1.5rem;
          font-weight: 300;
        }
        
      }

    }
    .logout{
      position: absolute;
      bottom: 10px;
      width: 94%;
      background-color: rgba(255, 0, 0, 0.7);
      border: 1px solid rgba(174, 174, 174,0.5);
      color: white;
      padding: 12px 0px;
      border-radius: 4px;
      cursor: pointer;
      font-size: 1rem;
      font-weight: bold;
      margin: 0 3% ;
  
      &:last-child {
        margin-right: 0;
      }
  
      &:hover {
        background-color: rgba(255, 0, 0, 0.9);
      }
    }
}

mat-nav-list{
  text-align: center;
}
}


.journal-form {
    width: 90%;
    margin: 50px auto;

    .header{
      display: flex;
      align-items: center;
      margin-bottom: 3rem;
      gap: 2rem;
  
      mat-icon {
        cursor: pointer;
        font-size: 3rem;
        padding: 15px;
        margin: 0;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
  
        &:hover {
          color: #d1d1d1;
        }
      }
  
      :nth-child(1) {
        font-size: 2rem;
      }
  
      h2{
        padding: 0;
        margin: 0;
      }
    }
  
    h2 {
      font-size: 1.7rem;
    }
  
    form {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      padding-top: 2rem;
  
      label {
        margin-top: 10px;
      }
  
      input,
      textarea,
      button {
        margin-top: 5px;
        padding: 18px;
        background-color: rgba(200, 200, 200, 0.1);
        color: white;
        font-size: 1.3rem;
        outline: none;
        border: none;
      }

      button{
        width: 200px;
      }

      .actions{
        display: flex;
        align-items: baseline;
        gap: 20px;
        // justify-content: space-between;
      }

      .actions :nth-child(2){
        color: red;
      }

      textarea{
        height: 200px;
      }
  
      button {
        background-color:rgba(0, 0, 0, 0);
        color: white;
        border: 1px solid rgba(174, 174, 174,0.5);
        border-radius: 4px;
        cursor: pointer;
        font-size: 1.3rem;
        font-weight: 500;
        margin-top: 20px;
        padding: 15px 20px;
  
        &:hover {
          background-color: rgba(174, 174, 174,0.1);
        }
      }
    }
  }
  

  .loading-indicator{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60vh;
  }

  .no-content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60vh;
    font-size: 1.6rem;
  }

  .collection{
    background-color: rgba(0,0,20,0.4);
}
