<mat-sidenav-container class="container">
    <mat-sidenav mode="side" opened="true">
        <div class=" logo">
            <!-- Your logo or app name goes here -->
            <a routerLink="/collections">SoulSnap</a>
        </div>
        <mat-nav-list>
            <a mat-list-item routerLink="" routerLinkActive="active">Collections</a>
            <a mat-list-item routerLink="" routerLinkActive="active">About Us</a>
            <a mat-list-item routerLink="" routerLinkActive="active">Contact Us</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
    </mat-sidenav-content>

</mat-sidenav-container>